<div class="key-details">
    <div class="detail-item">
        <span class="label">Year:</span>
        <span class="value">{{ car.year }}</span>
    </div>
    <div class="detail-item">
        <span class="label">Mileage:</span>
        <span class="value">{{ car.mileage | number_format }} km</span>
    </div>
    <div class="detail-item">
        <span class="label">Transmission:</span>
        <span class="value">{{ car.transmission }}</span>
    </div>
    <div class="detail-item">
        <span class="label">Fuel Type:</span>
        <span class="value">{{ car.fuel_type }}</span>
    </div>
    <div class="detail-item">
        <span class="label">Location:</span>
        <span class="value">{{ car.location }}</span>
    </div>
</div> 